@model ProyectoPanaderia.ViewModels.ResumenCompraVM
@{
    ViewData["Title"] = "Detalle de Compra";
}
<h2 class="mb-4">Detalle de Compra</h2>

<form asp-action="ReviewOrder" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="DireccionEntrega"></label>
        <input asp-for="DireccionEntrega" class="form-control" />
        <span asp-validation-for="DireccionEntrega" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Referencia"></label>
        <textarea asp-for="Referencia" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Referencia" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MetodoPago"></label>
        <select asp-for="MetodoPago" class="form-control">
            <option value="">-- Selecciona una opción --</option>
            <option value="Efectivo">Efectivo</option>
            <option value="Tarjeta">Tarjeta</option>
            <option value="Yape">Yape</option>
            <option value="Plin">Plin</option>
        </select>
        <span asp-validation-for="MetodoPago" class="text-danger"></span>
    </div>

    <div class="form-group mt-4">
        <a asp-action="Index" class="btn btn-secondary">Regresar a Mi Carrito</a>
        <button type="submit" class="btn btn-primary">Continuar</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
